.container {
  background-color: beige;
  display: flex;
  min-width: 32vh;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-right: 5vh;
  border: 1px  orange;
  border-radius: 3px;
}
.heading {
  color: cadetblue;
}

.count {
  color: cadetblue;
  font-size: x-large;
  font-weight: 600;
}
