.container {
  background-color: beige;
  display: flex;
  min-width: 32vh;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 6px;
}

.count {
  font-size: x-large;
  font-weight: 600;
}

